[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask_profiler = "*"

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
python-dateutil = "*"
simplejson = "*"
ipasnhistory = {editable = true,path = "."}
redis = '>=3'
pytricia = {editable = true,git = "https://github.com/jsommers/pytricia.git"}
flask = "*"
flask-bootstrap = "*"
gunicorn = {extras = ["gevent"],version = "*"}
pyipasnhistory = {editable = true,path = "./client"}
hiredis = "*"
Jinja2 = ">=2.10.1"  # CVE-2019-10906
idna-ssl = {markers = "python_version < '3.7'"}
typing-extensions = {markers = "python_version < '3.7'"}
bgpdumpy = "*"

[requires]
python_version = "3"
