-i https://pypi.org/simple
-e .
aiohttp==3.5.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.7.1
chardet==3.0.4
click==7.0
dominate==2.3.5
flask-bootstrap==3.3.7.1
flask==1.0.2
gevent==1.4.0
git+https://github.com/jsommers/pytricia.git@4ba88f68c3125f789ca8cd1cfae156e1464bde87#egg=pytricia
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
gunicorn[gevent]==19.9.0
idna-ssl==1.1.0 ; python_version < '3.7'
idna==2.8
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.1.0
multidict==4.5.2
python-dateutil==2.7.5
redis==3.0.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.7.1
typing-extensions==3.7.2 ; python_version < '3.7'
visitor==0.1.3
werkzeug==0.14.1
yarl==1.3.0
